<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div class="relative bg-card flex flex-col lg:flex-row flex-0 lg:items-center lg:justify-between lg:gap-8 py-8 px-6 md:px-8 border-b">
        <div class="text-4xl font-extrabold tracking-tight">Qualifications</div>

        <div class="flex flex-col sm:flex-row sm:items-end mt-6 sm:mt-0 w-full gap-4 sm:gap-0"  [formGroup]="filtersForm">
            <mat-form-field class="sm:w-1/2 fuse-mat-dense" [subscriptSizing]="'dynamic'">
                <input matInput [placeholder]="'Recherche'" [formControlName]="'pilot'" />
            </mat-form-field>

            <div class="flex flex-row sm:ml-4 gap-4 sm:w-1/2">
                <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                    <mat-label>Event</mat-label>
                    <mat-select [formControlName]="'eventId'">
                        @for (event of events; track trackByFn($index, event)) {
                            <mat-option [value]="event.id">{{event.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                    <mat-label>Round</mat-label>
                    <mat-select [formControlName]="'roundId'">
                        @for (round of rounds; track trackByFn($index, round)) {
                            <mat-option [value]="round.id">{{round.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense" [subscriptSizing]="'dynamic'">
                    <mat-label>Catégorie</mat-label>
                    <mat-select [formControlName]="'categoryId'">
                        @for (category of categories; track trackByFn($index, category)) {
                            <mat-option [value]="category.id">{{category.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="-mt-px flex flex-auto flex-col border-t pt-6 sm:pt-10 py-20 px-8 gap-6" [formGroup]="qualifyingForm">
        @if (roundCategoryPilotsQualifying && roundCategoryPilotsQualifying.length > 0) {
            <div class="grid grid-cols-4 gap-10">
                @for (pilotQualifying of qualifyingForm.get('pilotsQualifying')['controls']; track trackByFn($index, pilotQualifying)) {
                    <div class="flex flex-col col-span-4 sm:col-span-2 lg:col-span-1">
                        <div class="flex flex-row items-center justify-between">
                            <div class="text-lg font-semibold">{{pilotQualifying.get('pilotFirstName').value}} {{pilotQualifying.get('pilotLastName').value}}</div>
                        </div>

                        <div class="flex flex-row items-center gap-4 mt-4">
                            @for (qualif of pilotQualifying.get('qualifs')['controls']; track trackByFn(i, qualif); let i = $index) {
                                <mat-form-field class="fuse-mat-dense" [subscriptSizing]="'dynamic'">
                                    <mat-label>Passage {{qualif.get('passage').value}}</mat-label>
                                    <input matInput type="number" [placeholder]="'Points'" [formControl]="qualif.get('points')" (blur)="saveQualifying()" />
                                </mat-form-field>
                            }
                        </div>
                    </div>
                }
            </div>
        } @else {
            <div class="flex flex-col items-center">
                <div class="text-2xl font-semibold">Aucun résultat trouvé !</div>
            </div>
        }
    </div>
</div>
