<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-auto bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Paramètres
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"></div>
    </div>


    <div class="flex flex-col p-6">

        <!-- Theme -->
        <div class="text-md font-semibold text-secondary">THEME</div>
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-3 mt-6">
            <ng-container *ngFor="let configTheme of config.themes">
                <div
                    class="flex items-center justify-center px-4 py-3 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                    [class.ring-2]="config.theme === configTheme.id"
                    [ngClass]="configTheme.id"
                    (click)="setTheme(configTheme.id)">
                    <div
                        class="flex-0 w-3 h-3 rounded-full bg-primary"
                    ></div>
                    <div
                        class="ml-2.5 font-medium leading-5 truncate"
                        [class.text-secondary]="config.theme !== configTheme.id">
                        {{configTheme.name}}
                    </div>
                </div>
            </ng-container>
        </div>

        <hr class="my-8">

        <!-- Scheme -->
        <div class="text-md font-semibold text-secondary">MODE SOMBRE</div>
        <div class="grid grid-cols-3 gap-3 justify-items-start mt-6">
            <!-- Auto -->
            <div
                class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                [class.ring-2]="config.scheme === 'auto'"
                matTooltip="Définit automatiquement le mode en fonction de celui du système."
                (click)="setScheme('auto')">
                <div class="flex items-center rounded-full overflow-hidden">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:bolt'"></mat-icon>
                </div>
                <div
                    class="flex items-center ml-2 font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'auto'">
                    Auto
                </div>
            </div>
            <!-- Dark -->
            <div
                class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                [class.ring-2]="config.scheme === 'dark'"
                (click)="setScheme('dark')">
                <div class="flex items-center rounded-full overflow-hidden">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:moon'"></mat-icon>
                </div>
                <div
                    class="flex items-center ml-2 font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'dark'">
                    Sombre
                </div>
            </div>
            <!-- Light -->
            <div
                class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                [class.ring-2]="config.scheme === 'light'"
                (click)="setScheme('light')">
                <div class="flex items-center rounded-full overflow-hidden">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:sun'"></mat-icon>
                </div>
                <div
                    class="flex items-center ml-2 font-medium leading-5"
                    [class.text-secondary]="config.scheme !== 'light'">
                    Clair
                </div>
            </div>
        </div>
    </div>
</div>
